.body {
  display: flex;
  align-items:flex-start;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

/* .game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-radius: 10%;
}

.games {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

/* @media (max-width: 1350px) {
  .page-content {
    background-color: black;
  }
} */